@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-manrope: 'Manrope', sans-serif;
    --font-sora: 'Sora', sans-serif;
  }

  body {
    @apply bg-gray-50 text-primary antialiased;
    font-family: var(--font-manrope), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sora), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

